.close:focus {
    outline: none;
}

.close {
    font-size: 3em;
    color: rgb(238, 78, 50)
}

.card {
    margin-top: 10%;
    margin-left: 20px;
    width: 305px;
    height: 325px;
}

.card-img-top {
    max-height: 70%
}

.pagination {
    margin-top: 30px;
    margin-bottom: 0%;
    margin-left: 2%;
}

@media screen and ( max-width: 900px ){
    .pagination{
        margin: 40px 0 0% 2%;
    }
}

@media screen and ( max-width: 600px ){
    .pagination{
        margin: 55px 0 0% 2%;
    }
}

.paintings {
    margin-bottom: 2%;
    overflow: hidden;
}